@define-color cc-bg rgba(217, 214, 215, 0.8);
@define-color cc-border rgb(84, 100, 138);
@define-color noti-border-color rgba(209, 149, 100, 0.60);
@define-color noti-bg-darker rgb(207, 207, 203);
@define-color noti-bg rgb(243, 243, 246);
@define-color noti-bg-hover rgb(234, 234, 229);
@define-color noti-bg-focus rgba(227, 227, 227, 0.6);
@define-color noti-close-bg rgba(255, 255, 255, 0.1);
@define-color noti-close-bg-hover rgba(255, 255, 255, 0.15);
@define-color text-color rgba(69, 77, 84, 1);
@define-color text-color-disabled rgb(120, 120, 120);
@define-color bg-selected rgb(235, 228, 0);
@define-color close-button rgb(247, 118, 142);
@define-color noti-hover rgb(122, 162, 247);
@define-color noti-first-child rgb(227, 227, 243);
@define-color noti-sum rgb(196, 158, 56);
@define-color cc-focus rgb(205, 160, 110);
@define-color blank-window alpha(white, 0.1);

* {
  font-family: Courier Prime;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
  opacity: 1;
  background: @noti-bg-darker;
  border-radius: 8px;
}

.notification-row {
  outline: none;
  margin: 0px;
  padding: 0px;
  border-radius: 8px;
}

.notification {
  background: @cc-bg;
  border: 2px solid @noti-border-color;
  border-radius: 0px;
  margin: 3px -2px 3px 0px;
  border-radius: 8px;
}

.notification-content {
  background: @cc-bg;
  border-radius: 8px;
}

.notification-default-action {
  margin: 0;
  padding: 0;
  border-radius: 8px;
}

.widget-volume {
  background-color: @noti-bg;
  padding: 4px 4px 4px 20px;
  margin: 0px 8px 8px 8px;
  border-radius: 4px;
  background: @noti-bg-darker;
}

.widget-volume trough {
  background: @cc-bg;
  margin: 0 8px;
}

.widget-volume trough highlight {
  background: @noti-sum;
  border: none;
}

.close-button {
  background: @close-button;
  color: @cc-bg;
  text-shadow: none;
  padding: 0px;
  border-radius: 4px;
  margin-top: 8px;
  margin-right: 4px;
}

.close-button:hover {
  box-shadow: none;
  background: @close-button;
  transition: all 0.15s ease-in-out;
  border: none;
  border-radius: 4px;
}

.notification-action {
  border: 2px solid @noti-border-color;
  border-top: none;
  border-radius: 4px;
}

.notification-default-action:hover,
.notification-action:hover {
  color: @noti-hover;
  background: @cc-bg;
  border-radius: 8px;
}

.notification-default-action {
  border-radius: 4px;
  margin: 0px;
}

.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.notification-action:first-child {
  border-bottom-left-radius: 12px;
  background: @noti-first-child;
}

.notification-action:last-child {
  border-bottom-right-radius: 10px;
  background: @noti-first-child;
}

.image {
  border-radius: 4px;
  margin-right: 10px;
}

.summary {
  font-size: 16px;
  font-weight: 700;
  background: transparent;
  color: @noti-sum;
  text-shadow: none;
}

.time {
  font-size: 16px;
  font-weight: 700;
  background: transparent;
  color: @text-color;
  text-shadow: none;
  margin-right: 18px;
}

.body {
  font-size: 15px;
  font-weight: 400;
  background: transparent;
  color: @text-color;
  text-shadow: none;
}

.control-center {
  background: @cc-bg;
  border: 2px solid @cc-border;
  border-radius: 8px;
}

.control-center-list {
  background: transparent;
}

.control-center-list-placeholder {
  opacity: 0.5;
}

.floating-notifications {
  background: transparent;
}

.blank-window {
  background: @blank-window;
}

.widget-title {
  color: @noti-hover;
  background: @noti-bg-darker;
  padding: 5px 10px;
  margin: 10px 10px 5px 10px;
  font-size: 1.5rem;
  border-radius: 4px;
}

.widget-buttons-grid {
  font-size: x-large;
  padding: 5px;
  margin: 8px 8px 8px 8px;
  border-radius: 4px;
  background: @noti-bg-darker;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  margin: 3px;
  border: solid 1px @cc-focus;
  background: @cc-bg;
  border-radius: 4px;
  color: @text-color;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: @cc-focus;
  color: @cc-bg;
}

.widget-buttons-grid > flowbox > flowboxchild > button:checked {
  background: @cc-focus;
  color: @cc-bg;
}
